
<div class="head">
	<script type="text/javascript" charset="utf-8">
	$(function () {
		that = $('.nav-sidebar');
		var targetDiv = $(".sidebar-content");
		that.on('click', 'li', function (event) {
			var action = $(event.currentTarget).data('action');
			RedditApp.router[action](targetDiv);
		});
	});
	</script>
</div>
<div class="sidebar">
	<ul class="nav nav-sidebar nav-pills">
	  <li class="active" data-action='newPost'><a>New Post</a></li>
	  <li data-action='watching'><a>Watching</a></li>
	</ul>
	
	<div class="sidebar-content">
		</div>
</div>

<div>

<% if !!current_user %>

<%= render :partial => "links/new" %>
<% else %>	

<h2><%= link_to "Sign Up", new_user_url %></h2>
<h4> OR </h4>
<%=	render :partial => "sessions/new" %>

<% end %>
</div>
</div>


</script>
