<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">About Kreddit</h4>
      </div>
      <div class="modal-body">
		Kreddit is a simple gif and image viewing resource with a Reddit format.
		The source code can be found 
		<a href="https://github.com/cowalla/finalproject">here</a>.
		<br><br>
		Created by Connor Wallace.
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Enough already</button>
      </div>
    </div>
  </div>
</div>