<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Become a member</h4>
      </div>
      <div class="modal-body">
				
		<h1>Sign Up</h1>

		<form action="/users" method="post">
		  <input
		     name="authenticity_token"
		     type="hidden"
		     value="<%= form_authenticity_token %>">

		  <label for="user_username">Username</label>
		  <input
		     id="user_username"
		     name="user[username]"
		     type="text">
		  <br>

		  <label for="user_password">Password</label>
		  <input
		     id="user_password"
		     name="user[password]"
		     type="password">
		  <br>

		  <input type="submit" value="Submit (to the collective)" class="btn btn-primary">
		</form>

			<br>We understand your apprehension. We encrypt your credentials and NEVER store them locally. So you may join the collective without fear.
			<br>
			<br> You will be assimilated.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Leave me alone</button>
      </div>
    </div>
  </div>
</div>