<head>
	<script type="text/javascript">
	var upvote = function(){
		alert("You upvoted!")
	};
	var downvote = function(){
		alert("You downvoted!")
	}
	</script>
</head>
<div class="col-xs-1">
	<div class="vote">
		
		<div class="upvote">
			<button onclick="upvote">Upvote</button>
		</div>
		<div class="score">###

		</div>
		
		<div class="downvote">
			<button onclick="downvote">Downvote</button>
		</div>
		
	</div>
</div>

