<h3> submitting to cowalla-reddit </h3>

<% if !!current_user %>

	<form action="/links" method="post" enctype="multipart/form-data">
	
		<input type="hidden"
		name="authenticity_token"
		value="<%= form_authenticity_token %>">

	  <label for="description">Description</label>
	  <input
	     id="description"
	     name="link[description]"
	     type="text">
	  <br>
	<br>
<h2> Photo Content: </h3>
	  <label for="link_url">Url:</label>
	  <input
	     id="url"
	     name="link[url]"
	     type="text">
	  <br>
	<h4> OR </h4>
		<label for="avatar">Upload photo:</label>
		<input type="file" name="link[avatar]" id="avatar"><br>

		<br>
	  <input type="submit" value="submit">
	</form>

<% else %>
	<div class="text"> <%=link_to "Sign in", new_session_url %> to add a link </div>
<% end %>