<h3> submitting to cowalla-reddit </h3>

<form action="/links" method="post">

  <label for="description">Description</label>
  <input
     id="description"
     name="link[description]"
     type="text">
  <br>

  <label for="link_url">Url</label>
  <input
     id="url"
     name="link[url]"
     type="text">
  <br>

  <input type="submit" value="submit">
</form>