/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import "bootstrap";

body {
	background-color:#FFFFFF;
}

.display-inline-block {
	display:inline-block;
}

.picture-thumb {
}

.new{
	border: 1px #e4e4e4 solid;
  	padding: 20px;
	border-radius: 4px;
	box-shadow: 0 0 10px #ccc;
	background-color: #fff;
}

.vote {
}

.main{
	background: #eee;
	height: 650px;
}
.vote-holder{
	float:left;
}

.about{
	float:right;
	padding: 20px;
	margin: 20px;
}

.new-session{
	border: 5px;
}

.watched-posts {
	float:left;
	height: 650px;
	padding: 5px;
	background: #FA5555;	
}

.picture-thumb{
}

.comment-body{
	
}

.btn-comment{
	float:auto;
}

.link-detail {
	background: #99CCFF;
	padding: 10px;
}

.sidebar {
	float:right;
	padding: 5px;
	height: 650px;
	background: #84DA55
}

/* make each item that you want to stay on one line together have display:inline-block */
