/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

body {
	background-color:#FFFFFF;
}

.display-inline-block {
	display:inline-block;
}
.picture-thumb {
	margin-right: 20px;
}

.vote {
	margin-right: 20px;
}

.watched-posts {
	margin-bottom: 100px;
}

.content {
	width: 600px;
	margin: 20px;
	padding: 20px;
	background: #eee
}

/* make each item that you want to stay on one line together have display:inline-block */
