<div>
<% if !!current_user %>

		<input type="hidden"
		id="id"
		name="vote[user_id]"
		value="<%= current_user.id %>">

		<% if !@vote_comment.nil? %>
			<input type="hidden"
			id="id"
			name="vote[comment_id]"
			value="<%= @vote_comment.id %>">
		<% end %>	
		
		<input type="hidden"
		id="value"
		name="vote[value]"
		value="-1">
		
		<input type="hidden"
		id="id"
		name="vote[link_id]"
		value="<%= @link.id %>">
		
		<input type="hidden"
		id="subreddit_id"
		name="vote[subreddit_id]"
		value="<%= @subreddit.id %>">
		
	<button type="submit" class="glyphicon glyphicon-chevron-down">
		</button>
	</form>
<% else %>
	<button type="vote-redirect" class="glyphicon glyphicon-chevron-down">
	</button>
<% end %>
</div>