<% if !!current_user %>
<%= render :partial => "links/new" %>
<% else %>
	
<h2><%= link_to "Sign Up", new_user_url %></h2>
<h4> OR </h4>
<%=	render :partial => "sessions/new" %>

<form action="/session" method="POST">
	
	<input type="hidden"
	name="authenticity_token"
	value="<%=form_authenticity_token%>">
	
  <input
     name="user[username]"
	 value="Guest"
     type="hidden">
	
  <input
     id="user_password"
     name="user[password]"
	 value="iamaguest"
     type="hidden">
	<h1> OR </h1>
	<input class="btn btn-primary" type="submit" value="SIGN IN AS GUEST">
</form>
<% end %>