<% if !!current_user %>
<%= render :partial => "links/new" %>
<% else %>
<%= render :partial => "users/demo"%>
<h1> OR </h1>
<%=	render :partial => "sessions/new" %>
<h1> OR </h1>
	<div class="text-center">
		<button class="btn btn-primary text-center" 
			data-toggle="modal" 
			data-target="#newUserModal">
			Sign Up
		</button>
	</div>
		<%= render :partial => "users/newusermodal" %>
<% end %>