<h2><%= @subreddit.title %></h2>

<% @links.each do |link| %>
	<div class="sitetable linklisting" data-id="<%= link.id %>">
	<% comment_count = link.comments.length %>
	<% submitting_user = User.find(link.user_id) %>
	<% votes = link.votes %>
	<% upvotes = votes.select{ |vte| vte.value == 1 } %>
	<% downvotes = votes.select{ |vte| vte.value == -1 } %>
	<% @link_karma = (upvotes.count - downvotes.count) %>
	<% @tmp_comment = nil %>
	<% @comment = nil %>
	<div class="link-container">
			<% @link = link %>

			<%= render :partial => "links/detail", :locals => { :link => link, :submitting_user => submitting_user,
			:comment_count => comment_count } %>
	</div>
<% end %>
<%= paginate @links %>




	
	
	
